einops==0.6.0
geopy==2.3.0
matplotlib==3.7.1
meteostat==1.6.5
numpy==1.24.2
pandas==1.5.3
PyYAML==6.0
tifffile==2023.3.21
torch==1.12.0
torchvision==0.13.0
transformers==4.27.4
wandb==0.15.0
yaecs==1.0.2
